<style>
    div.signup_options{
    width:600px;
    max-width:98vw;
    margin:0 auto
    }
    div.options_parent{
        background-color:blue ;
        text-align: center;
        margin:10px;
        height:50px;
        display:grid;
        align-items: center;

    }

a.signup{
    width:100%;
    color:white;
    text-decoration: none;
}

</style>

<main>
<div class="signup_options">

<div class='options_parent'><a class="signup" href='/signup/rider'> Rider signup</a></div>
<div class='options_parent'><a class="signup" href='/signup/driver'> Driver signup</a></div>
<div class='options_parent'><a class="signup" href='/signup/admin'> Admin signup</a></div>
<p class="">Please Select your user signup option</p>
</div>
</main>