<style>
    div.login_options{
    width:600px;
    max-width:98vw;
    margin:0 auto
    }
    div.options_parent{
        background-color:blue ;
        text-align: center;
        margin:10px;
        height:50px;
        display:grid;
        align-items: center;
    }
a.login{
    width:100%;
    color:white;
    text-decoration: none;
}

</style>

<main>
<div class="login_options">

<div class='options_parent'><a class="login" href='/login/rider'> Rider Login</a></div>
<div class='options_parent'><a class="login" href='/login/driver'> Driver Login</a></div>
<div class='options_parent'><a class="login" href='/login/admin'> Admin Login</a></div>

<p class="">Please Select your user login option</p>

</div>

</main>