    {{#section 'header'}}
<link rel="stylesheet" href="/css/home_styles.css">
<link rel="stylesheet" href="/css/home.css">
    {{/section}} 
<main>
    <div class="body_wrapper">
        <img class='car' src="/images/car.jpg" alt="Right on Time">
        <span class="ride"> Ride With us</span>
        <span class='time'> We will be right on time</span>
    </div>
</main>