    {{#section 'header'}}
        <link rel="stylesheet" href="/css/login.css">
    {{/section}}
    <div>
  <section class="lwrapper">
        <h1 style="text-align:center">USER LOGIN</h1>
        <p class="please">*please input registered email and password</p>
        <form method='post' action='/login/rider'>
            <input type='hidden' name='role' value='rider'/>
            <div class='field'>
                <label htmlFor='username'> Email:</label>
                <input type='text' id='email' name='email'/>
            </div>
            <div class='field'>
                <label htmlFor='password'> Password:</label>
                <input type='password' name='password' id='password'/>
            </div>
            <div class='field'>
                <label></label>
                <button type='submit'>Login</button>
            </div>
        </form>
            <p class="extra"> don't have an account? <a href='/signup/rider'> Sign up here</a></p>
    </div>
  </section>  
      </div>


