   <main>
       Driver Home Page
   </main>
   
   
    {{#section 'footer'}}
    <script src="/js/subscribe.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw-rypAWlPW5Vhds1rwkYI8VSaqS5PKx8&libraries=places"></script>
    <script src="/js/map.js"></script>
    {{/section}} 
